._1024x748.png
._1024x768.png
._114x114.png
._144x144.png
._1536x2008.png
._2048x1496.png
._2048x1536.png
._320x480.png
._57x57.png
._640x1136.png
._640x960.png
._72x72.png
._768x1004.png
week1/project1_final/MDF1_Week1_Final/._Default-568h@2x.png
week1/project1_final/MDF1_Week1_Final/._Default-Landscape@2x~ipad.png
week1/project1_final/MDF1_Week1_Final/._Default-Landscape~ipad.png
week1/project1_final/MDF1_Week1_Final/._Default-Portrait@2x~ipad.png
week1/project1_final/MDF1_Week1_Final/._Default-Portrait~ipad.png
week1/project1_final/MDF1_Week1_Final/._Default.png
week1/project1_final/MDF1_Week1_Final/._Default@2x.png
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._AppDelegate.h
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._AppDelegate.m
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._CustomCellView.h
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._CustomCellView.m
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._DetailViewController.h
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._DetailViewController.m
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._MDF1_Week1_Final-Prefix.pch
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._TableViewController.h
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._TableViewController.m
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._ViewController.h
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._ViewController.m
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._main.m
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/._stock-photo-red-tomato-vegetable-with-cut-isolated-on-white-background-34794595.jpg
week1/project1_final/MDF1_Week1_Final/MDF1_Week1_Final/en.lproj/._InfoPlist.strings
._.gitignore
._.DS_Store
week1/._.DS_Store
week1/project1_final/MDF1_Week1_Final/._.DS_Store
week2/mdf1_project2/mdf1_project2/._28-star.png
week2/mdf1_project2/mdf1_project2/._CustomCellView.h
week2/mdf1_project2/mdf1_project2/._CustomCellView.m
week2/mdf1_project2/mdf1_project2/._DetailViewController.h
week2/mdf1_project2/mdf1_project2/._DetailViewController.m
week2/mdf1_project2/mdf1_project2/._ThirdViewController.h
week2/mdf1_project2/mdf1_project2/._ThirdViewController.m
week2/mdf1_project2/mdf1_project2/._UI-Diagram.png
week2/mdf1_project2/._Default-568h@2x.png
week2/mdf1_project2/._Default.png
week2/mdf1_project2/._Default@2x.png
week3/mdf1_week3/mdf1_week3/._MyAnnotationView.h
week3/mdf1_week3/mdf1_week3/._MyAnnotationView.m
week3/mdf1_week3/mdf1_week3/._MyMapAnnotations.h
week3/mdf1_week3/mdf1_week3/._MyMapAnnotations.m
week3/mdf1_week3/mdf1_week3/._myMapView.h
week3/mdf1_week3/mdf1_week3/._myMapView.m
week2/mdf1_project2/._UI-Diagram.png